@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font: 500 16px/21px 'Source Code Pro', monospace;
}
